*, *:before, *:after {
	box-sizing: border-box;
}

/*
style="margin-top:-40px; color:gray; text-decoration: none;"
style="font-family: 'Rubik', sans-serif;"
style="display: flex;"
style="margin-left: 225px; margin-top: 85px; border-bottom: 5px solid rgb(239, 204, 138); border-radius: 2px;padding-bottom: 5px;"
style="text-decoration: none; color:black;"
style="margin-top: 85px;border-bottom: 5px solid rgb(239, 204, 138); border-radius: 2px;padding-bottom: 5px;"
style="text-decoration: none; color:black;"
style="margin-top: 85px;border-bottom: 5px solid rgb(239, 204, 138); border-radius: 2px;padding-bottom: 5px;"
style="text-decoration: none; color:black;"
style="margin-top: 85px;border-bottom: 5px solid rgb(239, 204, 138); border-radius: 2px;padding-bottom: 5px;"
style="text-decoration: none; color:black;"
style="display: flex; margin-top: 30px;"
style="flex: 1; font-size: 1.7em; padding-top: 360px; max-width: 17em;"
style="width: 43em; height: 40em; margin-left:400px;"
<section id="sezione1" class="filetto" style="margin-top: 90px; overflow-x: scroll; ">
style="font-family: 'Rubik', sans-serif; font-size: 2em; position: sticky; left: 0;border-bottom: 5px solid rgb(239, 204, 138); border-radius: 2px;padding-bottom: 5px; width: 186px;"
style="width: 50%; height: 53%; margin-top: 50px;"
style="margin-left: 870px; margin-top:-700px;"
style="margin-top: 330px; justify-content: center; align-items: center;"
style="text-align: center;"
style="font-family:'Rubik', sans-serif; margin-top: 35px; margin-left: -90px;"
style="width: 60%; margin-top: -80px; filter: grayscale(100%);"
style="margin-top: -600px; overflow-x: scroll;"
style="font-family: 'Rubik', sans-serif; font-size: 2em; position: sticky; left: 0;border-bottom: 5px solid rgb(239, 204, 138); border-radius: 2px;padding-bottom: 5px; width: 249px;"
style="margin-top: 150px;"
style="font-family:'Rubik', sans-serif; margin-top: 100px;  "
style=" margin-top: 340px ; "
style="width: 40%; height: 40%;float: left; margin-right: 20px; margin-top: -660px; margin-left: 870px;"
style="font-family:'Rubik', sans-serif; margin-top: 95px; margin-left: 80px;"
style="margin-left:-175px; margin-top:360px;"
style="width: 185%; margin-top: -850px; margin-left: 550px; border-radius: 40px;"
style="margin-top: -650px; overflow-x: scroll; overflow-y: visible;"
style="font-family: 'Rubik', sans-serif; font-size: 2em; position: sticky; left: 0; border-bottom: 5px solid rgb(239, 204, 138); border-radius: 2px;padding-bottom: 5px; width: 137px;"
style="margin-top: 170px;"
style="font-family:'Rubik', sans-serif; margin-left: 870px; margin-top: 100px; "
style="width: 40%; height: 40%; float: left; margin-right: 20px; display: flex; margin-top: -55px;"
style="margin-left: 870px; margin-top:300px;"
style="justify-content: center; align-items: center;"
style="border-radius: 20px; filter: grayscale(100%);"
style="margin-top: -700px; overflow-x: scroll;"
style="margin-top: 200px;"
style="font-family:'Rubik', sans-serif; margin-top: 100px;"
style="display: flex;"
style="margin-top: 380px; max-width: 24em;"
style="margin-top: 380px; max-width: 24em; text-align:left; margin-left: 100px;"
style="margin-top: -20px; justify-content: center; align-items: center;"
style="border-radius: 20px; filter: grayscale(100%);"
style="margin-top: -700px; overflow-x: scroll;"
style="margin-top: 200px;"
style="font-family:'Rubik', sans-serif; margin-top: 100px;"
style="display: flex;"
style="margin-top: 380px; max-width: 24em;"
style="margin-top: 380px; max-width: 24em; text-align:left; margin-left: 100px;"
style="margin-top: -40px; justify-content: center; align-items: center;"
style="border-radius: 20px; filter: grayscale(100%);"
style="margin-top: -680px; overflow-x: scroll; "
style="font-family: 'Rubik', sans-serif; font-size: 2em;border-bottom: 5px solid rgb(239, 204, 138); border-radius: 2px;padding-bottom: 5px; width: 260px; position: sticky; left: 0"
style="margin-top: 200px;"
style="font-family:'Rubik', sans-serif;; margin-top: 100px;  "
style=" margin-top: 230px ;  "
style="width: 40%; height: 40%;float: left; margin-right: 20px; margin-top: -660px; margin-left: 870px;"
style="margin-top: -40px; justify-content: center; align-items: center;"
style="border-radius: 20px; filter: grayscale(100%);"
style="margin-top: -600px; overflow-x: scroll; "
style="margin-top: 150px;"
style="font-family:'Rubik', sans-serif; margin-left: 870px; margin-top: 100px; "
style="width: 40%; height: 40%; float: left; margin-right: 20px; display: flex; margin-top: -55px;"
style="margin-left: 870px; margin-top: 200px;"
style="margin-left: 870px; margin-top: 50px"
style="margin-top: -80px; justify-content: center; align-items: center;"
style="border-radius: 20px; filter: grayscale(100%);"
style="margin-top: -650px; margin-bottom: 500px; overflow-x: scroll;"
style="margin-top: 200px;"
style="font-family:'Rubik', sans-serif; margin-top: 100px;"
style="display: flex;"
style="margin-top: 320px; max-width: 24em;"
a href="https://www.google.com/search?q=google+doodle+rockmore&oq=goog&aqs=chrome.0.69i59l2j69i57j69i59j46i131i199i433i465i512j0i131i433i512l5.1963j0j15&sourceid=chrome&ie=UTF-8"style="color:black"
style="margin-top: 320px; max-width: 24em; text-align:left; margin-left: 100px;"
a href="https://femurdesign.com/theremin/"style="color:black"
a href="https://theremin.app/"style="color:black"
style="margin-top: 20px; justify-content: center; align-items: center;"
style="border-radius: 20px; "
style="margin-top: -1000px;  position: absolute;"
style="margin-left:80%;"
style="margin-top: -230px;"
style="margin-left: 200px; margin-top: -42px;"
style="color:black"
style="color:black"
style="color:black"
style="color:black"
style="color:black"
style="margin-left: 450px; margin-top: -185px;"
a href="https://www.raicultura.it/musica/articoli/2021/04/Il-theremin-24d174af-8cb0-4163-b468-eefd4f7eb41c.html"style="color:black"
style="color:black"
style="color:black"
style="color:black"
style="color:black"
style="color:black"
style="color:black"
*/



iframe {
	border-radius: 20px;
	width: 60%; height: 70%;
	filter: grayscale(100%);
	
}

.didascalia p {
	font-size: 14px;
	margin-bottom: 0;
	max-width: 100%;
}

body {
	background-color: white; /* white, #FFFFFF */
	padding: 0em;
	margin: 0;
	font-family: 'Karla', sans-serif;
	position: relative; /* Aggiunge il position:relative al body */
	min-height: 100%; /* Aggiunge il min-height: 100% al body per far sì che il footer si posizioni correttamente */
}

header {
	padding: 0 6em 0 6em;
}

h1 {
	color: rgb(239, 204, 138);
	font-size: 7em;
	font-family:'Rubik', sans-serif;
	margin-top: -7px;
}



h5 {
	margin-top: -205px;
	margin-left:0px;
	display: inline-block;
	text-align: center;
	font-size: 1.5em;
	vertical-align: middle;
	font-family:'Rubik', sans-serif;
	color: black;
	

}

h4 {
	margin-top: 0em;
	font-size: 1.5em;
	font-family:'Rubik', sans-serif;
	color: black;
	border-bottom: 5px solid rgb(239, 204, 138);
	
}

h6 {
	font-family:'Rubik', sans-serif;
}

.image_header {
	margin-top: -735px;
}

.testo_header {
	margin-top: -400px;
}

.citazione {
	font-size:28px;
	width: 33%;
	margin-top: 430px;
	
}

img {
	border-radius: 20px;
	
}





section {
	background-color: red;
	overflow-x: scroll;		

	
	/*display: grid;*/
	/*grid-template-columns: 1fr 4fr;*/
	/* margin-bottom: 2em;
	padding-top: 0.25em; */
	display: grid;
	grid-template-columns: 100vw 100vw;

	border-top: 10em solid white;
}

section img {
	width: 300px;
}


.col_sx,
.col_dx {			
	padding: 0 6em 0 6em;
}
.col_sx {
	background-color: white;
}

.col_dx {
	background-color: rgb(239, 204, 138);
	  
}



.col2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2em;
	
}
.col2 img{
	width: 100%;
}






footer {
	padding: 0 6em 0 6em;
	border-top: 10em solid white;
	background-color: rgb(239, 204, 138);
	margin-bottom: 0em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2em;

}
  
  span {
	font-family:'Rubik', sans-serif;
  }
  
  





.footer-container {
	text-align: left;
	padding: 6em;
	margin: 0;
	
  }

p {
	margin: 0 0 1em 0;
	max-width: 24em;
	font-size: 20px;
}








.sottotitoli:hover {
	color: rgb(239, 204, 138);
	transition: color 0.3s ease;
  }
  

  .sottotitoli {
	margin-right: 3.5em;
}



/*header,*/


/*.filetto {
	border-top: solid 5px rgb(239, 204, 138);
	
	
}*/

/* img {
	width: 100%;
	border-radius: 40px;
	
	  
} */

.titolo-sezione {
	margin-right: 1em;
}



/* .contenuto-sezione {
}

.contenitore {
	max-width: 54em;
} */

/*breakpoint: schermi piccoli, larghezza massima 500 pixel*/


/*@media only screen and (max-width: 600px) {

	header,
	section {
		grid-template-columns: 1fr;
	}

	.contenitore {
		width:100%;
	}
	.contenuto-sezione {
		width: 100%;
	}
	.titolo-sezione {
		width: 100%;
	}
}
